@font-face {
    font-family: Calendar;
    src: url(CalendarPlus.woff);
  }

.logo {

    max-height: 80px;
}

.navbar {
    background-color: #1c1b1f;

}

.container {
    padding: 0px !important;
    margin: 0px !important;
    max-width: none !important;
}

.nav-link {
    color: white !important;
}

.modal-header>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.formlogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formlogin>button {
    width: 35%;
}

.formlogin>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formlogin>div:last-child>button {
    width: 30%;
}

.navbar-brand>span {
    color: #d39847 !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-toggler-icon {
    background-image: url('./imgs/iconmenu.png') !important;
}


.navbar-toggler:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}


/* css para multi itens */


.item{
    min-height: 200px;
    min-width: 175px;
    margin: 5px;
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    transform: translate( var(--posicao), 0);
    transition-duration: 1s;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    transition-property: transform;
}


.item2{
    min-height: 200px;
    min-width: 175px;
    margin: 5px;
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    transform: translate( var(--posicao), 0);
    transition-duration: 1s;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    transition-property: transform;
}




.item > img {
    max-height: 100px;
    max-width: 100px;
}

.item > span{
    color: black;
    font-size: 16px;
}

.item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2px;
    margin-bottom: 2px;

}

.item > div > span {
    font-size: 14px;
    color: black;
    text-decoration: underline 2px black;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    
}

.ContainerLivros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.titulo_livros{
    font-family: Calendar;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 11px;
    font-weight: 700;
    color: #1c1b1f;
}

.containercarrosel{
    display: flex;
    flex-direction: row;
    z-index: 90;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 70%;
    
}


.containercarrosel2{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 70%;
    
}


.item2 > img {
    max-height: 100px;
    max-width: 100px;
}

.item2 > span{
    color: black;
    font-size: 16px;
}

.item2 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2px;
    margin-bottom: 2px;

}

.item2 > div > span {
    font-size: 14px;
    color: black;
    text-decoration: underline 2px black;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    
}



@keyframes movimentar {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate( var(--posicao), 0);
    }
  }



  @keyframes movimentar2 {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate( var(--posicao2), 0);
    }
  }

  .containerbutoes{
      position: absolute;
      z-index: 2;
      width: 80%; 
      margin-top: 4%;
  }

  .containerbutoes > :first-child {
      display: flex;
      justify-content:space-between;
      align-items: center;
      height: 100%;
      padding-left: 1.5%;
      padding-right: 1.5%;
      flex-direction: row-reverse;

  }

  .containerbutoes > :first-child > div{
      background-color: #1c1b1f;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      content: '<';
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 800;
      user-select: none;
      cursor: pointer;
  }

  .maincontainer{

      width: 100%;
  }


  .containerbutoes > :first-child > div:active{
      opacity: 0.5;
  }


  .maincontainer > div:last-child {
      margin-top: 0px;

  }

  footer{
      display: flex !important;
      background-color: #1c1b1f !important;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    top: 105%;
    position: absolute;
  }


  footer > span{
      color: aliceblue !important;
  }

  footer > a {
      color: white !important;
      margin-left: 10px;
  }

  .containersejabenvindo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .containersejabenvindo > i {
      font-size: 24px;
  }




  .deslogar{
      display: flex !important;
      justify-content: center;
      align-items: center;
  }


  .deslogar > span {
    border-left: 2px solid white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand > .containersejabenvindo{ 
   margin-left: 5%;
}

.addlivro{
    position: absolute;
    z-index: 5;

}

.addlivro > :first-child {
    min-width: 10%;
    height: 30px;
    background-color: #d39847;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: none;
}

.item:hover > .addlivro> :first-child {
    display: flex;
}

.item:hover > .addlivro> :first-child:active {
    opacity: 0.5;
}



.meio{
    width: 90% !important;

    opacity: 0 !important;
    pointer-events: none !important;
}